html body {
  width: 100%;
  height: 100vh;
}

body {
  background: url("../assets/images/cover3.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#quote {
  font-style: italic;
  font-size: 20px;
  text-align: center;
  color: rgb(210, 180, 140, 0.7);
  margin-top: 12px;
}

#canvas {
  min-height: 80%;
}
.img {
  text-align: center;
  align-items: center;
}
.play {
  align-self: flex-end;
}

main {
  min-height: 90%;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  margin-bottom: 1px;
}
.logo:hover {
  background-color: rgb(95, 162, 219, 0.4);
  transform: scale(1.1);
  box-shadow: 2px 2px 7px 1px #44d3e6;
  border-radius: 30px;
}
/* side menu */

.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: rgb(210, 180, 140);
  background-color: rgb(95, 162, 219, 0.4);
  transform: scale(1.2);
  box-shadow: 2px 2px 7px 1px #44d3e6;
}
.area {
  float: left;
  background: black;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
}

/* 
bottom bar */

.bottomnavbar {
  /* background-color: #333; */
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background: transparent;
  /* transition: width 0.05s linear; */
}
.bottomnavbar a {
  float: right;
  display: block;
  /* color: #f2f2f2; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
}

/* Change the color of links on hover */
.bottomnavbar a:hover {
  /* background-color: #ddd;
  color: black; */
  color: white;
  background-color: rgb(95, 162, 219, 0.4);
  transform: scale(1.2);
  box-shadow: 2px 2px 7px 1px #44d3e6;
}

/* Add a green background color to the active link */
.bottomnavbar a.active {
  color: rgb(210, 180, 140);
  background-color: rgb(95, 162, 219, 0.4);
  transform: scale(1.2);
  box-shadow: 2px 2px 7px 1px #44d3e6;
}

/* Hide the link that should open and close the navbar on small screens */
.bottomnavbar .icon {
  display: none;
}
.bottomnavbar:hover,
.bottomnavbar.expanded {
  height: 100px;
  overflow: visible;
}
progress[value] {
  width: 200px;
  height: 20px;
}
